
# # RewriteEngine On
 

# # # Rewrite for category.php
# # RewriteRule ^category/([^/]+)/?$ category.php?type=category&cat_id=$1 [L]

# #  RewriteEngine On
# # RewriteBase /new_b2b/

# # # Rewrite rule for SEO-friendly URL
# # RewriteRule ^products/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [L]
# # RewriteEngine On
# # RewriteBase /new_b2b/

# # RewriteCond %{REQUEST_FILENAME} !-f
# # RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteRule ^products/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [QSA,L]
# RewriteEngine On
# RewriteBase  growindiaexport.com/

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^product/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [QSA,L]
# # RewriteRule ^products/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [QSA,L]
# RewriteRule ^product/([0-9]+)/?$ product.php?inner_cat_id=$1 [QSA,L]
# RewriteRule ^states/([^/]+)/?$ states.php?state_name=$1 [QSA,L]
# RewriteRule ^category/([0-9]+)$ /category.php?cat_id=$1 [L]
# # RewriteRule ^states/([a-zA-Z0-9_-]+)$ states.php?state_name=$1 [L]







# demo------------------------------------------------------------------------------------------
# # RewriteEngine On
 

# # Rewrite for category.php
# RewriteRule ^category/([^/]+)/?$ category.php?type=category&cat_id=$1 [L]

#  RewriteEngine On
# RewriteBase /new_b2b/

# # Rewrite rule for SEO-friendly URL
# RewriteRule ^products/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [L]
# RewriteEngine On
# RewriteBase /new_b2b/

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^products/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [QSA,L]
RewriteEngine On
RewriteBase  /growindiaexport.com/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^product/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [QSA,L]
# RewriteRule ^products/([0-9]+)/([^/]+)/?$ product.php?inner_cat_id=$1&state_name=$2 [QSA,L]
RewriteRule ^product/([0-9]+)/?$ product.php?inner_cat_id=$1 [QSA,L]
RewriteRule ^states/([^/]+)/?$ states.php?state_name=$1 [QSA,L]
RewriteRule ^category/([0-9]+)$ /category.php?cat_id=$1 [L]
# RewriteRule ^states/([a-zA-Z0-9_-]+)$ states.php?state_name=$1 [L]